@import 'https://fonts.googleapis.com/css?family=Dosis:400,600';

body {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body--issues {
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.content {
  display: flex;
  padding: 30px;
}

.content-read {
  height: 140px;
  width: 400px;
  background-color: #3FB984;
  opacity: .65;
  border-radius: 300px;
  margin-right: 15px;
}

.content-listen {
  height: 140px;
  width: 400px;
  background-color: #31485d;
  opacity: .7;
  border-radius: 300px;
}

.content-title {
  font-size: 32px;
  color: white;
  margin-bottom: 0px;
}

.newsletter-logo {
  max-height: 124px;
  max-width: 100%;
  margin-top: 120px;
  
}

.newsletter-logo--small {
  max-width: 50%;
}

.newsletter-title {
  font-weight: 400;
  font-size: 48px;
  margin: 0;
}

.newsletter {
  max-width: calc(100% - 40px);
  text-align: center;
  margin-top: -100px;
  color: #35495e;
}

.newsletter--issues {
  margin-top: 10px;
}

.newsletter__previous a {
  font-size: 22px;
  color:#263849;
  text-decoration: none;
}

.newsletter-issues {
  list-style-type: none;
  padding: 0;
}
.newsletter-issues__item {
  margin-bottom: 10px;
}
.newsletter-issues__link {
  color: #41B883;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .newsletter--issues .newsletter-title {
      font-size: 24px;
  }
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }
  .content-read {
    display: block;
    margin: 0 auto;
    width: 320px;
    margin-bottom: 10px;
  }
  .content-listen {
    display: block;
    margin: 0 auto;
    width: 320px;
  }
}

.podcast-subscribe {
  font-size: 18px;
  margin-right: 10px;
  color: #87D1B0;
  text-decoration: underline;
}

.revue-form-group {
  position: relative;
}

.revue-form-field {
  border: 1px solid #ddd;
  border-radius: 300px;
  height: 50px;
  padding-right: 100px;
  padding-left: 20px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  width: 100%;
}

.revue-form-button {
  position: absolute;
  right: 4px;
  top: 4px;
  border: none;
  border-radius: 300px;
  background: #41B883;
  color: #fff;
  height: 42px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.15s ease;
  padding: 0 25px;
}

@media (min-width: 1000px) {
  .revue-form-field {
    height: 60px;
    padding-left: 30px;
    font-size: 20px;
    min-width: 550px;
  }

  .revue-form-button {
    height: 52px;
    font-size: 20px;
  }

  .newsletter-logo {
    max-height: 184px;
  }

}

.revue-form-field:focus,
.revue-form-field:hover {
  outline: none;
}

.revue-form-field:hover {
  border-color: #bbb;
}

.revue-form-field:focus {
  border-color: #41B883;
}

.revue-form-button:hover,
.revue-form-button:focus {
  background: #2f865f;
}

.revue-form-button:focus,
.revue-form-button:active {
  outline: none;
}

.footer {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #98a2ad;
}

.footer a {
  color: #41B883;
  text-decoration: none;
  font-weight: 600;
}

.monterail-link {
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin-top: -5px;
}

.vuemastery-logo {
  height: 20px;
  width: 30px;
  padding-right: 3px;
  padding-top: 6px;
}
